# my shortcuts
alias c='clear'
alias update='sudo apt update && sudo apt upgrade -y'
alias dots='cd ~/polaroid-dotfiles'
alias desktop='cd ~/Desktop'

# icones
alias fix-icons='~/polaroid-dotfiles/icons/main.sh'
alias change-icon='~/polaroid-dotfiles/icons/change-icon/main.sh'

# scripts
alias install-all='~/polaroid-dotfiles/install-all.sh' #instala os scripts
alias install-all-y='~/polaroid-dotfiles/install-all.sh -y' #instala os scripts mas com a flag -y
alias install-program-ext='~/polaroid-dotfiles/gnome/install-programs.sh' #instala gnome-tweaks e manager-extensions
alias install-fastfetch='~/polaroid-dotfiles/others/install-fastfetch.sh' #instala o fastfetch
alias alternative-terminal='~/polaroid-dotfiles/others/set-gnome-console.sh' #instala outro console alternativo (principalmente para erros de layout de teclado)