[Desktop Entry]
Name[be]=Video Downloader
Name[ca]=Descarregador de vídeo
Name[cs]=Video Downloader
Name[de]=Video Downloader
Name[es]=Descargador de vídeo
Name[fa]=Video Downloader
Name[fr]=Téléchargeur de vidéos
Name[he]=מוריד הסרטונים
Name[hr]=Preuzimanje videa
Name[hu]=Videóletöltő
Name[id]=Pengunduh Video
Name[it]=Video Downloader
Name[ja]=Video Downloader
Name[ko]=비디오 다운로더
Name[nb_NO]=Videonedlaster
Name[nl]=Video­downloader
Name[pt]=Video Downloader
Name[ro]=Video Downloader
Name[ru]=Загрузчик видео
Name[sk]=Video Downloader
Name[sv]=Video Downloader
Name[tr]=Video İndirici
Name[uk]=Завантажувач відео
Name[uz]=Video Yuklab oluvchi
Name[zh_Hans]=Video Downloader
Name[zh_Hant]=Video Downloader
Name[ckb]=دابەزێنەری ڤیدیۆ
Name[hi]=वीडियो डाउनलोडर
Name[fi]=Video Downloader
Name[et]=Videote allalaadija
Name[el]=Video Downloader
Name[pl]=Video Downloader
Name[pt_BR]=Video Downloader
Name[eu]=Bideo Deskargatzailea
Name[ta]=வீடியோ பதிவிறக்கம்
Name[ar]=Video Downloader
Name=Video Downloader
Comment[be]=Спампуйце відэа з вэб-сайтаў
Comment[ca]=Descarrega vídeos de la web
Comment[cs]=Stahování videí z webu
Comment[de]=Webvideos herunterladen
Comment[es]=Descargar vídeos de Internet
Comment[fr]=Téléchargez des vidéos à partir de sites web
Comment[hr]=Preuzmi web videa
Comment[hu]=Videók letöltése a YouTube és más webhelyről
Comment[id]=Unduh video web
Comment[it]=Scarica video dal web
Comment[ja]=Web 動画をダウンロードします
Comment[nl]=Download web­video's
Comment[pt]=Descarregue vídeos da web
Comment[ro]=Descărcare video-uri web
Comment[ru]=Позволяет скачать видео из интернета
Comment[sk]=Stiahnuť webové videá
Comment[sv]=Ladda ner webbvideor
Comment[tr]=İnternet sitelerinden video indirin
Comment[uk]=Завантажуйте відео із сайтів
Comment[uz]=Veb-videolarni yuklab olish
Comment[zh_Hans]=下载网站上的视频
Comment[zh_Hant]=下載網站上的視頻
Comment[hi]=वेब वीडियो डाउनलोड करें
Comment[fi]=Lataa videoita verkosta
Comment[et]=Laadi alla veebivideoid
Comment[el]=Λήψη βίντεο από το διαδίκτυο
Comment[pl]=Pobierz filmy z internetu
Comment[pt_BR]=Baixar vídeos da web
Comment[eu]=Webguneetako bideoak deskargatu
Comment[ta]=வலை வீடியோக்களைப் பதிவிறக்கவும்
Comment[ar]=تنزيل مقاطع فيديو من الويب
Comment=Download web videos
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=video-downloader com.github.unrud.VideoDownloader
Icon=/home/polaroid/polaroid-dotfiles/icons/change-icon/../images/com.github.unrud.VideoDownloader.svg
Terminal=false
Type=Application
Categories=Network;GTK;
StartupNotify=true
X-GNOME-UsesNotifications=true
Actions=new-window;
Keywords[be]=YouTube;Спампаваць;
Keywords[ca]=Youtube;Descarrega;
Keywords[cs]=YouTube;Download;
Keywords[es]=YouTube;Descargar;
Keywords[fr]=YouTube;Download;Télécharger;Vidéos;
Keywords[he]=יוטיוב;הורדה;
Keywords[hr]=YouTube;preuzimanje;
Keywords[hu]=Youtube;Letöltés;
Keywords[id]=YouTube;Unduh;
Keywords[it]=YouTube;Scarica;
Keywords[ja]=YouTube;Download;ダウンロード;
Keywords[nl]=YouTube;downloaden;
Keywords[pt]=YouTube;Descarregar;
Keywords[ro]=YouTube;Download;Descărcător;
Keywords[ru]=YuuTube;Скачать;
Keywords[sk]=YouTube;Stiahnuť;
Keywords[sv]=YouTube;Ladda ner;
Keywords[tr]=YouTube;Download;İndir;
Keywords[uk]=YouTube;Download;Завантажити;
Keywords[uz]=YouTube;Yuklab Olish;
Keywords[zh_Hans]=YouTube;Download;
Keywords[zh_Hant]=YouTube;Download;
Keywords[hi]=YouTube;डाउनलोड;
Keywords[fi]=YouTube;Download;lataa;
Keywords[et]=YouTube;laadi alla;allalaadimine;veebivideod;
Keywords[el]=YouTube;Download;
Keywords[pl]=YouTube;Pobieranie;Wideo;
Keywords[pt_BR]=YouTube;Download;
Keywords[eu]=Youtube;Deskargatu;
Keywords[ta]=YouTube; பதிவிறக்கம்;
Keywords[ar]=YouTube;Download;
Keywords=YouTube;Download;
X-Flatpak=com.github.unrud.VideoDownloader

[Desktop Action new-window]
Name[be]=Новае акно
Name[ca]=Finestra nova
Name[cs]=Nové okno
Name[de]=Neues Fenster
Name[es]=Ventana nueva
Name[fa]=پنجرهٔ جدید
Name[fr]=Nouvelle fenêtre
Name[he]=חלון חדש
Name[hr]=Novi prozor
Name[hu]=Új ablak
Name[id]=Jendela Baru
Name[it]=Nuova finestra
Name[ja]=新しいウィンドウ
Name[ko]=새 창
Name[nb_NO]=Nytt vindu
Name[nl]=Nieuw venster
Name[pt]=Nova Janela
Name[ro]=Fereastră nouă
Name[ru]=Новое окно
Name[sk]=Nové okno
Name[sv]=Nytt fönster
Name[tr]=Yeni Pencere
Name[uk]=Нове вікно
Name[uz]=Yangi oyna
Name[zh_Hans]=新窗口
Name[zh_Hant]=新視窗
Name[ckb]=پەنجەرەی نوێ
Name[hi]=नई खिड़की
Name[fi]=Uusi ikkuna
Name[et]=Uus aken
Name[el]=Νέο Παράθυρο
Name[pl]=Nowe Okno
Name[pt_BR]=Nova Janela
Name[eu]=Leiho berria
Name[ta]=புதிய சாளரம்
Name[ar]=نافذة جديدة
Name=New Window
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=video-downloader com.github.unrud.VideoDownloader
